.cardWrapper {
    composes: cardWrapper from '../../../App.module.css';
}

.bottomParagraph {
    composes: bottomParagraph from '../../../App.module.css';
    width: 100%;
}

.actionButton {
    composes: actionButton from '../../../App.module.css';
}

